@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

#title {
    font-family: 'Lobster', cursive;
    font-size: 200%;
}

/* not active */
.nav-pills .nav-link:not(.active) {
    background-color: transparent;
    color: rgb(43, 42, 42);
}

/* active (faded) */
.nav-pills .nav-link:focus {
    background-color: rgb(43, 42, 42);
    color: white;
}

