@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

#title {
    font-family: 'Lobster', cursive;
    font-size: 200%;
}

/* not active */
.nav-pills .nav-link:not(.active) {
    background-color: none;
    color: rgb(43, 42, 42);
}

/* active (faded) */
.nav-pills .nav-link.active, 
.nav-pills .show>.nav-link:focus, 
.nav-pills .show>.nav-link:active {
    background-color: rgb(43, 42, 42);
    color: white;
}

.myCard{
    width: 20rem;
    height: 20rem;
}

.myImg{
    object-fit: cover;
}

.dropdown-menu {
    left: -5rem;
    top: 60px;
}
